@charset "UTF-8";

@font-face{ 
    font-family: "Latin Modern Roman Demi 10 Regular";
    src: url('/assets/fonts/latin-modern-roman/lmromandemi10-regular-webfont.eot');
    src: url('/assets/fonts/latin-modern-roman/lmromandemi10-regular-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/latin-modern-roman/lmromandemi10-regular-webfont.woff') format('woff'),
         url('/assets/fonts/latin-modern-roman/lmromandemi10-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/latin-modern-roman/lmromandemi10-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: "Latin Modern Roman 10 Regular";
    src: url('/assets/fonts/latin-modern-roman/lmroman10-regular-webfont.eot');
    src: url('/assets/fonts/latin-modern-roman/lmroman10-regular-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/latin-modern-roman/lmroman10-regular-webfont.woff') format('woff'),
         url('/assets/fonts/latin-modern-roman/lmroman10-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/latin-modern-roman/lmroman10-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: "Latin Modern Roman 10 Regular";
    src: url('/assets/fonts/latin-modern-roman/lmroman10-italic-webfont.eot');
    src: url('/assets/fonts/latin-modern-roman/lmroman10-italic-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/latin-modern-roman/lmroman10-italic-webfont.woff') format('woff'),
         url('/assets/fonts/latin-modern-roman/lmroman10-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/latin-modern-roman/lmroman10-italic-webfont.svg#webfont') format('svg');
    font-style: italic;
}

@font-face{ 
    font-family: "Latin Modern Roman 10 Regular";
    src: url('/assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.eot');
    src: url('/assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.svg#webfont') format('svg');
    font-style: italic;
    font-weight: bold;
}

@font-face{ 
    font-family: "Latin Modern Roman 10 Regular";
    src: url('/assets/fonts/latin-modern-roman/lmroman10-bold-webfont.eot');
    src: url('/assets/fonts/latin-modern-roman/lmroman10-bold-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bold-webfont.woff') format('woff'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/latin-modern-roman/lmroman10-bold-webfont.svg#webfont') format('svg');
    font-weight: bold;
}


footer,
footer .wrap,
header,
.pagination,
.button,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading-font-family;
  font-weight: 400;
}

pre {
  overflow-x: auto;
  margin-bottom: 0;
}

.post-link .post-title {
  font-weight: 400;
}

.site-header {
  background: #FED009;
  //margin-top: 0.666em;
}

.site-header {
  border-bottom: thin solid rgb(253, 113, 252);
}

.site-header .social-icons a, .site-header nav a {
  color: $light-purple;
}

a {
  color: $light-purple;
  opacity: 0.8;
}

a:hover {
  color: $light-purple;
  opacity: 1; 
}

article.post-content a {
  text-decoration: underline;
}

body {
  background: #A200FF;
  // background: rgb(253, 113, 252);
}

.site-wrap {
  background: #fff;
}

.highlight, .gist-syntax .highlight {
  background: #EBEDFF;
  border: thin solid rgb(123, 125, 204);
}

.footer, .site-wrap:after {
  height: 90px;
}